@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --font-sans: var(--font-Montserrat-sans);
  --color-mainGreen: #58BA5F;
  --color-mainBlack: #1A1A1A;
  --color-backgroundGreen: #F7F8F5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  }
}

body {
  background: var(--background);
  font-family: Montserrat, sans-serif;
}

::selection {
  background-color: rgba(88, 186, 95, 0.2);
}
