@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --font-sans: var(--font-Montserrat-sans);
  --color-mainGreen: #58BA5F;
  --color-mainBlack: #1A1A1A;
  --color-backgroundGreen: #F7F8F5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, sans-serif;
}

::selection {
  background-color: rgba(88, 186, 95, 0.2);
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
