@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

@theme inline {
  /* --color-background: var(--background); */
  /* --color-foreground: var(--foreground); */
  --font-sans: var(--font-Montserrat-sans);
  /* --font-mono: var(--font-geist-mono); */
  --color-mainGreen: #58BA5F;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, sans-serif;
}

::selection {
  background-color: rgba(88, 186, 95, 0.2);
}